* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #222222;
  line-height: 1.3;
}

/* Utility clearing classes you may use. */
.clear {
  clear: both;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
