* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #222222;
  line-height: 1.3;
  width: 100%;
}
#header{
  width: 100%;
  background-color: #222222;
}
#header a:hover{
  color: #1FA2E1;
  transition: all 0.2s;
  width: 960px;
}
}
#marginart{
  margin: 15px 15px 15px 0;
}
blockquote{
  font-size: 15px;
  margin: 45px 110px 45px 110px;
  width: 740px;
  display: center block;
  padding: 15px;
  border: solid 1px #eee;
  overflow: auto;
  font-style: italic;
  color: gray;
}

h1{
font-family: "permanent marker";
margin: 0 0 20px 0;
}
article{
  width: 290px;
  float: left;
  margin-left: 45px;
  margin-right: 45px;
}
#UH{

}

.homebox{
  width: 960px;
  float: left;
  margin-bottom: 20px;
  margin-left: 50px;
}
#homebox1{
  margin: 0 0 0 30px;
}
#homebox1 a{
  color: #1FA2E1;
 
}
#homebox2{
  margin: 0 15px 0 15px;
}
#homebox2 a{
  color: #1FA2E1;

}
#homebox3{
  margin: 0 0 0;
}
#homebox3 a{
  color: #1FA2E1;
  
}
.clearfix{
  background-color: black;
  width: 100%;  
}
.footer{
  width: 100%;
  height: 300px;
  background-color: #222;
  padding-top: 10px;
  padding-left: 50px;
  color: #222;
}
.footer a{
  color: #1FA2E1;
  border-bottom: dashed 1px #666;
  margin: 10px;


}

h2{
  margin-top: 20px;
  margin-left: 10px;
  font-family: "permanent marker";
  color: #ccc;
  border-bottom: dashed 1px #666;
}
p{
  color: #ccc;
}
#bh{
  
}
#widget1{
  width: 210px ;
  float: left;
  position: block inline;
}
#widget1 p{
  margin: 15px;
  font-size: 7px;
}
#widget2{
 width: 400px ;
 float: left; 
 position: block inline;
 overflow: auto;
}
#widget2 p{
  margin-left: 10px;
}
#widget3{
  width: 210px ;
  float: left;
  position: block inline;
  margin-left: 30px;
}
#widget3 p{
  font-size: 7px;
  margin: 25px;
}
#widget3 p a{
  border-bottom: none;
}

.home a{
  color: #cccccc;
  text-decoration: none;
  display: inline;
  float: left;
  padding: 30px;
}
a{
  text-decoration: none;
}
.hero-inner{
float: right;
display: inline-block;

text-decoration: none;
}

.container{
  width: 100%;
}

  
#hero{
  background-image: url("../images/photobanner.png");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.terms1{
display: block;
}
.terms2{
  display: block;
}
.UH:after{
  content: "";
  display: block;
  clear: both;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.footer:after{
   content: "";
  display: block;
  clear: both;
}
.content:after{
  content: "";
  display: block;
  clear: both;
}
#hero .UH{
  text-decoration: none;
}
/* Utility clearing classes you may use. */
.clear {
  clear: both;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

